<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>テスト</title>
    <link rel="stylesheet" href="../static/index.css" />
    <script type="text/javascript" src="../static/index.js"></script>
</head>

<body>
     <div class="head">
        <h1>compare</h1>
        <form action="/calc" class="btn">
            <input type="submit" value="ボタン" class="btn">
        </form> 
    </div>
    <div class="parent_circle">
        <div class="circle"  style="background-color: yellow;"></div>
        <p>Replacement</p>
        <div class="circle" style="background-color: yellowgreen;"></div>
        <p>Missing</p>
        <div class="circle" style="background-color: pink;"></div>
        <p>Unnecessary</p>
    </div>
    <div class="compare">
        <h3>1</h3>
        <table border="0">
            <tr>
                <td>source: </td>
                <td class="m2">It has a high density population because its small territory .</td>
            </tr>
            <tr>
                <td>target: </td>
                <td class="m2">It has a high +++- density population because +++of its small territory .</td>
            </tr>
        </table>
    </div>
    
    <hr>
    <table border="0">
        <tr>
            <td>source: </td>
            <td class="m2">---Despite ---of it is an industrial city , there are many shops and department stores .</td>
        </tr>
        <tr>
            <td>target: </td>
            <td class="m2">aogno???Although it is an industrial city , there are many shops and department stores .</td>
        </tr>
    </table>
    <hr>
</body>

</html>